//btn
@mixin btn($background-color, $border-color,$font-color) {
    width: 145px;
    height: 38px; 
    font-family: $font-KARLA;
    font-weight: bold;
    font-size: 16px;
    background-color: $background-color;
    border-color: $border-color;
    border-style: solid;
    color: $font-color;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}